body{
	padding: 0px;
}
h1{
	padding-top: 15px;
}

#Footer{
	position: static;
	bottom: 0;
}
.accordion{
	background-color: #89cff0;
	margin-top: 40px;
}
.accordion-title{
	color: white;
	font-weight: bold;
	font-size: 14px;
}

.size-24 { 
	font-size: 24px; 
}
.ChooseTicket-Group .chooseTicket{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 150px;
}

.chooseTicket{
	width: 200px;
	height: 200px;
	font-size: 20px;
}
.padding50{
	padding: 50px;
}
.paddingTop50{
	padding-top: 50px;
}
.marginTop50{
	margin-top: 50px;
}


.adTicketInfo{
	padding-left: 50px;
}

.Logo{
	max-height: 100px;
}



.mbottom50{
	margin-bottom: 50px;
}
.mTb60{
	margin-top: 60px;
	margin-bottom: 60px;
}