body{
	padding: 50px;
}

#Footer{
	position: static;
	bottom: 0;
}
.accordion{
	background-color: #89cff0;
	margin-top: 40px;
}
.accordion-title{
	color: white;
	font-weight: bold;
	font-size: 14px;
}

.size-24 { 
	font-size: 24px; 
}
.ChooseTicket-Group .chooseTicket{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 150px;
}

.chooseTicket{
	width: 200px;
	height: 200px;
	font-size: 20px;
}
